legacy-peer-deps=true
prefer-offline=false
audit=false
fund=false
loglevel=error
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
# Forcer l'installation de TOUTES les dépendances
optional=true
include=optional
